.container{
    width:40vw;
    height: 40vh;
    background-color: gray;
    border:#357EC7 solid 5px;
    right:0;
    position: absolute;
}
.top{
    text-align: left;
    background-color: #357EC7;
    display:flex;
    justify-content: space-between;
}
.image{
    background-color: gray;
}
.image img{
    object-fit: contain;
    height: 30vh;
    width: 100%;
    background-color: white;
    margin-top: 1vh;
}