.footer{
    position: fixed;
    display: inline-block;
    bottom:0;
    width: 100vw;
    max-height: 12vh;
    margin:0;
    padding:0;
    background-color:#357EC7 ;
    
}
.button{
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: whitesmoke;
    height: auto;
    font-size: 2vw;
}
.button h2{
    padding-right: 4px;
}
.button img{
    object-fit: contain;
}