.footer{
    position: absolute;
    bottom:0;
    width: 100%;
    max-height: 6.2rem;
    border: solid black 3px;
    margin:0;
    padding:0;
    background-color: rgba(0, 0, 0, 0.719);
    
}
.footer img{
    position: relative;
    max-width: 100%;
    height: auto;
    width: auto;
}