.window{
    border:solid black 3px;
    width:35vw;
    height:70vh;
    background-color: white;
    position: fixed;
    bottom:0;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}
.name{
    background-color:#357EC7;
    color:white;


}
.contact{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left:1rem;
    height:51vh;
    font-size: 2vw;
}
.login{
    background-color: #357EC7;
    height: 5vh;
    font-size: small;
    bottom: 0;
    border-bottom: solid 4px black;
    display: flex;
    justify-content: flex-end;
    
}
