*{
    box-sizing: border-box;
}


  

.descript{
    overflow: scroll;
}

.cert{
    display: flex;
    justify-content: center;
}
.cert img{
    max-width: 80vw;
    max-height: 50vh;
}
/* .navbar.fixed{
    background-color: gray;
    transition: .3s ease-in-out;
} */ 
