.home{
    background: url(https://wallpaperaccess.com/full/4766059.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width:100%
}